<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href = "/home"> Welcome to Rock Paper Scissors Game</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
